# OS
.DS_Store

# node
node_modules

# output
dist
es

# local env files
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode/settings.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Tests
/coverage
/.nyc_output

# miniprogram
/miniprogram

# lock
# package-lock.json
yarn.lock

/lib/env-config/patch.json

# redis
dump.rdb


# dokcer
deployment.yaml
Dockerfile

#jenkins
Jenkinsfile
Jenkinsfile-i18n
Jenkinsfile-test

#xml
/public/sitemap*.xml
